<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Home Page</title>

  <style>

    .footer {

       position: fixed;

       left: 0;

       bottom: 0;

       width: 100%;

       background-color: black;

       color: white;

       text-align: center;

    }

  </style>

</head>

<body>

<!-- Nav -->

<h1>System rezerwacji sal</h1>

<nav>

  <a class="nav-item nav-link active" href="/">Lista wszystkich sal</a>

  <a class="nav-item nav-link" href="/room/new/">Dodaj salę</a>

</nav>

<!-- Nav -->

{% block content %}

{% endblock %}
<!-- Footer -->

<footer class="footer">

  <span class="text-muted">Mateusz Samek</span>

</footer>

<!-- Footer -->

</body>

</html>